@import "settings";
@import "foundation";

// Or selectively include components
// @import
//   "foundation/components/accordion",
//   "foundation/components/alert-boxes",
//   "foundation/components/block-grid",
//   "foundation/components/breadcrumbs",
//   "foundation/components/button-groups",
//   "foundation/components/buttons",
//   "foundation/components/clearing",
//   "foundation/components/dropdown",
//   "foundation/components/dropdown-buttons",
//   "foundation/components/flex-video",
//   "foundation/components/forms",
//   "foundation/components/grid",
//   "foundation/components/inline-lists",
//   "foundation/components/joyride",
//   "foundation/components/keystrokes",
//   "foundation/components/labels",
//   "foundation/components/magellan",
//   "foundation/components/orbit",
//   "foundation/components/pagination",
//   "foundation/components/panels",
//   "foundation/components/pricing-tables",
//   "foundation/components/progress-bars",
//   "foundation/components/reveal",
//   "foundation/components/side-nav",
//   "foundation/components/split-buttons",
//   "foundation/components/sub-nav",
//   "foundation/components/switch",
//   "foundation/components/tables",
//   "foundation/components/tabs",
//   "foundation/components/thumbs",
//   "foundation/components/tooltips",
//   "foundation/components/top-bar",
//   "foundation/components/type",
//   "foundation/components/offcanvas",
//   "foundation/components/visibility";
#leftColumn{
	img{
		float:right;
		padding-right:0rem;
	}
}
#rightColumn{
	form{
		padding-top:5rem;
		input{
			float: right;
		}
	}
}
#siteRow{
	margin-top:5rem;
}

#leftUl{
	color:#A5CEE9;
	text-align:right;
	margin-top:4rem;
	padding-right:2rem;
	letter-spacing: 0.0rem;

	.first{
		color: #8DC63F;
	}
}

@media #{$small-only} { 
	html{
		overflow-x: hidden;
		overflow-y: hidden;
	}
	#siteRow{
		margin-top:0rem;
	}
	#leftColumn{
		padding-right:0rem;

		img{
			padding-top: 0.5rem;
		}
	}
}

@media #{$medium-only} {
	html{
		overflow-x: hidden;
		overflow-y: hidden;
	}
}